@font-face {
  font-family: 'uglyqua';
  src: url('../fonts/uglyqua.ttf');
}
html {
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-color: black;
  font-family: uglyqua;
  font-size: 2em;
  color: white;
}
input {
  font-family: uglyqua;
  font-size: 1em;
  background-color: transparent;
  border: none;
}
table {
  padding-top: 1em;
}
td {
  padding-left: 1em;
}
div {
  padding-left: 1em;
}
